* {
    font-family: cursive;
    /*BACKGROUND color */
}

img {
    size:25vw;

}

h2 {
    font-size:5vmin

}


table, th, td, tr {


    border-collapse: collapse;

    font-size: large;

  }

  th, td, tr {

    padding: 15px;

    }


      

  h1 {

    text-align: center;
    font-size: 40px;

  }

    

  p  {

    text-align: center;

    font-size: 20px;

    /* can remove this line */
    font-family: cursive;

    font-weight: bold;

    }

  

  table {

    margin:auto;

    width: 70%;

  }

  

  img {

    margin: auto;

    display: block;

  }

  /* The code below this comment was messing up the layout of our divs, so I commented it out */

  /*div {  
  width: auto;  
  text-align: center;  
  padding: 15px;  
  border: 3px solid rgb(138, 80, 80);  
  }  
  img {  
  max-width: 100%;  
  height: auto;  
  } */ 
  

body {
    background: rgb(226, 217, 220);
}


.photos {
    display: flex;
    flex-direction: row;
    border: none;
}

.photos img {
    max-width: 342px;
}

.img-and-caption {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 5px;
}

body h2 {
    text-align: center;
}


 

